<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- google fonts -->

    <!-- Bootstrap & CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/new.css">
    <link rel="stylesheet" href="./styles/new.css">

    <!-- fontawesome icon -->
    <script src="https://kit.fontawesome.com/855112bb4f.js" crossorigin="anonymous"></script>
    <title>New Member</title>
  
</head>
<body>
    <main>
        <div  class="container new">
            <h1>Add a Family Member</h1>
            <form action="/new" method="post">
                <p>Enter your name?</p>
                <input type="text" name="name">

                <p>Choose your color:</p>
                <input type="radio" name="color" id="red" value="red" />
                <label for="red"><span class="red"></span></label>

                <input type="radio" name="color" id="green" value="green" />
                <label for="green"><span class="green"></span></label>

                <input type="radio" name="color" id="yellow" value="yellow" />
                <label for="yellow"><span class="yellow"></span></label>

                <input type="radio" name="color" id="olive" value="olive" />
                <label for="olive"><span class="olive"></span></label>

                <input type="radio" name="color" id="orange" value="orange" />
                <label for="orange"><span class="orange"></span></label>

                <input type="radio" name="color" id="teal" value="indigo" />
                <label for="teal"><span class="teal"></span></label>

                <input type="radio" name="color" id="blue" value="blue" />
                <label for="blue"><span class="blue"></span></label>

                <input type="radio" name="color" id="violet" value="violet" />
                <label for="violet"><span class="violet"></span></label>

                <input type="radio" name="color" id="purple" value="purple" />
                <label for="purple"><span class="purple"></span></label>

                <input type="radio" name="color" id="pink" value="pink" />
                <label for="pink"><span class="pink"></span></label>
                <div class="spacer"></div>
                <button type="submit">Add</button>
            </form>

        </div>

        
       


    </main>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

</body>
</html>


    



